<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <meta http-equiv="Access-Control-Allow-Methods" content="*" /> 
    <meta http-equiv="Access-Control-Allow-Headers" content="X-Requested-With" />
    <link rel="icon" type="image/x-icon" href="/images/favicon-32x32.png">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- AddStyles -->
<% if (typeof addStyles !== 'undefined') { %>
    <% for(var i=0; i < styles.length; i++) { %>
    <link rel="stylesheet" href="<%= styles[i] %>">
    <% } %>
<% } %>
    <!-- Styles -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
  <div class="d-flex" id="wrapper">
      <!-- Sidebar-->
      <div class="border-end back-wrapper" id="sidebar-wrapper">
          <%- include('sidebar'); %>
      </div>
      <!-- Page content wrapper-->
      <div id="page-content-wrapper" class="bg-light">
          <!-- Top navigation-->
          <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
              <div class="container-fluid">
                <button class="btn btn-light" id="sidebarToggle"><i class="fa fa-bars"></i></button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="message-alert-icon-standby" role="button" data-toggle="dropdown" data-bs-toggle="dropdown" href="#"aria-haspopup="true" aria-expanded="false">
                        <!--<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-fw"></i>Usuario</a>-->
                            <i class="fa fa-envelope fa-fw"></i>
                        </a>
                        <!--.dropdown-messages -->
                        <ul id="standby-alerts-notification-lst" class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-fw"></i>Usuario</a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#!">nombre y apellido</a>
                            <a class="dropdown-item" href="#!">----</a>
                            <div class="dropdown-divider"></div>
                            <div class="text-center">
                              <a href="/logout"><button class="btn btn-danger"> Cerrar sesion </button></a>
                            </div>
                        </div>
                      </li>
                    </ul>
                </div>
              </div>
          </nav>