<div class="flex-shrink-0 p-3 pt-0" style="width: 250px;">
  <a href="/" class="d-flex align-items-center pb-2 mb-3 text-decoration-none border-bottom">
      <img src="https://via.placeholder.com/300x150" class="img-fluid mx-auto">
  </a>
  <ul class="list-group">
    <a href="/panel" class="list-group-item list-group-item-action"><i class="fa fa-home"></i> Home</a>
    <a href="/clients/list" class="list-group-item list-group-item-action"><i class="fa-solid fa-people-group"></i> Clients</a>
    <a href="/restaurants/list" class="list-group-item list-group-item-action"><i class="fa-solid fa-utensils"></i> Restaurants</a>
    <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-user"></i> Users</a>
    <li class="list-group-item list-group-item-action" data-bs-toggle="collapse" data-bs-target="#config-collapse" aria-expanded="false">
      <label for="config-collapse"><i class="fa-solid fa-gears"></i> Config</label>
      <div class="collapse list-group mt-2" id="config-collapse">
        <a href="#" class="list-group-item list-group-item-action" aria-current="true">Role</a>
        <a href="#" class="list-group-item list-group-item-action">Region</a>
        <a href="3" class="list-group-item list-group-item-action">System</a>
      </div>
    </li>
  </ul>
</div>